<!DOCTYPE html>
<html lang="en" class="login bodyEntero">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link href="/css/jsfront.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <header><%- include('../partials/header') %></header>

  <body>
    <div class="cuadroFondo"></div>
    <section class="seccionLogReg">
      <section class="cuadroLogReg2">
        <form class="cuadroLogReg" action="/api/users/login" method="post">
          <h2 class="textLogReg titulos">¡Hola!</h2>
          <input
            type="text"
            name="NomUsr"
            id="NomUsr"
            placeholder="Tu nombre de usuario"
          />
          <input
            type="password"
            name="Pass"
            id="pass"
            required
            placeholder="Tu contraseña"
          />
          <button id="botonIniciarSesion">Iniciar Sesión</button>
          <input type="checkbox" class="remember" />
          <label for="remember" class="remember">Recuérdame</label>
        </form>
      </section>
      <p class="mensajeRegistro registrate">
        ¿No tienes cuenta? <a href="/register">Registrate</a>
      </p>
    </section>
    <section class="myalert">
      <p>Titulo del mensaje</p>
      <p>
        Cuerpo del mensaje con texto enriquecido <br />y camacidad multilenea
      </p>
      <button class="cerrar">Secondary Button</button>
      <button class="aceptar">Primary Button</button>
    </section>
    <footer>
      <div class="footer_login">
        <img id="img-twitter" src="/img/twitter.svg" />
        <img id="img-facebook" src="/img/facebook.svg" />
        <img id="img-instagram" src="/img/instagram.svg" />
        <img id="img-youtube" src="/img/youtube.svg" />
        <p id="texto">© MiEcommerce. Todos los derechos reservados.</p>
        <img id="img-appStore" src="/img/apple.svg" />
        <p id="texto-2">App Store</p>
        <img id="img-playStore" src="/img/google-play.svg" />
        <p id="texto-3">Google Play</p>
      </div>
    </footer>
    <script src="../../js/general.js"></script>
    <script src="../../js/login.js"></script>
  </body>
</html>
